<% if track %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to track.name, track_path(track) %></h5>

      <div class="text-left mb-2">
        <%= pluralize(experiments_count, "experiment") %><br>
        <%= pluralize(metrics_count, "metric") %><br>
        <%= pluralize(dots_count, "dot") %><br>
      </div>
    </div>
  </div>
<% end %>
